body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#Title {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-size: 80px;
}

#Subtitle {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-size: 40px;
}

form {
  position: absolute;
}
